<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Page Wonder - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
        rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" alt="Logo" style="width:40px; height: 40px;">
    </a>
    <a class="navbar-brand" href="#">llama</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/hawzie197/llama-extension/issues">ISSUES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/hawzie197/llama-extension/releases">RELEASES</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <img class="img-fluid" src="assets/img/landing-llama.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <h2 class="display-4">Hate reading privacy policies?</h2>
            <h2 class="display-6">So do we. Trust the llama.</h2>
            <p style="font-size: 15px;">The llama uses Natural Language Processing to compile and display key points of the privacy policy for a website, along with a confidence score to let you know what we think of the policy. If a bad policy is found, a warning will be displayed to you.</p>
          </div>
          <a href="#" class="btn-pill-pink">Add to Chrome - It's Free!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section style="height: 550px;" class="row align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid" src="assets/img/01.png" alt="" style="height: 350px; width: 350px;">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4 color-pink">01</h2>
          <h2 class="display-6">Add llama for free</h2>
          <p>It only takes two clicks to add llama to Chrome, Safari, or Opera.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="height: 550px; background-color: #ff8f6c;" class="row align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid" src="assets/img/02.png" style="height: 320px; width: 450px;" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4 color-pink">02</h2>
          <h2 class="display-6">Get main points in seconds</h2>
          <p>While you decide on signing up, llama will use AI to break down the privacy policy into the good stuff.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="height: 550px;" class="row align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid" src="assets/img/03.png" style="height: 320px; width: 450px;" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4 color-pink">03</h2>
          <h2 class="display-6">Make a decision</h2>
          <p>Take our policy confidence score into consideration and determine if your data rights are well
            protected.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; www.joinllama.com 2019</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="assets/jquery/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
